/* breakpoints 680px CSS */
@media only screen and (max-width: 620px) {
  /* universal */
  .fntsize-mid{
    font-size: 14px;
  }
  .fnt-ttl {
    font-size: 28px;
  }
  .sp-nodisplay {
    display: none !important;
  }

  /* mainBanner */
  #mainTtl .ttl-logo {
    width: 100%;
    right: 0;
    height: 25vh;
    top: 40%;
  }
  #mainTtl .ttl-caption {
    font-size: 28px;
    width: 96%;
    margin: 0 0 0 2%;
    background: #fff;
    color: #333;
  }

  /* aboutme */
  #mainContent .cnt-flex .cnt-boxes {
    font-size: 18px;
  }
  #mainContent .cnt-flex {
    flex-direction: column;
  }
  #mainContent .cnt-flex .cnt-boxes.biography,
  #mainContent .cnt-flex .cnt-boxes.social {
    width: 100%;
  }
  #mainContent .cnt-flex .cnt-boxes.biography {
    padding: 40px 2%;
  }
  #mainContent .bdr {
    margin: 40px auto;
  }
  #mainContent .cnt-flex .cnt-boxes .cnt-biographydesc,
  #mainContent .cnt-flex .cnt-boxes .cnt-biography-loves {
    margin: 40px 0 0 0;
  }

  /* portfolio */
  #portfolio .works-intro {
    width: 100%;
    margin: 0 0 80px 0;
  }
  #portfolio .works-flex {
    flex-direction: column;
  }
  #portfolio .works-flex > div,
  #portfolio .works-flex .works-desc-wrap {
    width: 100%;
    margin: 0;
  }
  #portfolio .works-flex .works-desc-wrap {
    background: #fff;
    color: #333;
  }
  #portfolio .works-flex .works-desc-wrap .works-desc-ttl {
    margin: 20px auto;
  }
  #portfolio .works-flex .works-intro-bg p {
    height: 50vh !important;
  }
  #portfolio .seemore {
    position: relative;
    bottom: 0;
    margin: 20px 0;
  }

  /* contact */
  #contact .contact-wrap {
    flex-direction: column;
    margin: 0;
    padding: 0 0 20px 0;
  }
  #contact .contact-wrap > div {
    width: 100%;
  }
  #contact .contact-wrap p {
    padding: 0 0 40px 0;
  }
  #contact .contact-wrap .contact-txt,
  #contact .contact-wrap .social,
  #contact .contact-wrap .contact-address {
    text-align: center;
  }
}